.container > * + * {
  margin-top: 1rem;
}

.commentsContainer > * + * {
  margin-top: 0;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.emptyMessage {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--selah-500);
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.loadMoreWrapper {
  padding-top: 0.5rem;
  text-align: center;
}
